﻿@charset "utf-8";
/* CSS Document */
body
{
background: #ff9900; /* Old browsers */
background: -moz-linear-gradient(top, #ff9900 0%, #ffcc66 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9900), color-stop(100%,#ffcc66)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff9900 0%,#ffcc66 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff9900 0%,#ffcc66 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff9900 0%,#ffcc66 100%); /* IE10+ */
background: linear-gradient(to bottom, #1f8a8c 0%,#88e1e3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#ffcc66',GradientType=0 ); /* IE6-9 */

height:auto;
padding:0;
	margin:0;
}

.wrapper
{
	width:100%;
	max-width:960px;
	margin-left:auto;
	margin-right:auto;
}

.ContentHolder
{


	padding:1%;
	font-family:Gabriola;
	font-size:20px;
	line-height:29px;
	color:#3e2a01;
	text-align:justify;

}

.ContentHolder1
{


	padding:1%;
	font-family:Gabriola;
	font-size:20px;
	line-height:29px;
	color:#3e2a01;
	text-align:justify;

}


.heading
{
	font-family:Gabriola;
	font-size:35px;
	line-height:40px;
	color:#6a0f09;
}



.FooterText
{



	font-family:Gabriola;
	font-size:20px;
	line-height:20px;
	color:#FFF;
	text-align:justify;
	padding-top:2%;
	padding-bottom:2%;

}

.green
{

	color:#33ff00;

}

.orange
{

	color:#f5ad32;

}

.admincontentWrapper {
min-height:473px;
background-color: #f4dcac;
}

.myButton {
	-moz-box-shadow:inset 0px 0px 14px -3px #91b8b3;
	-webkit-box-shadow:inset 0px 0px 14px -3px #91b8b3;
	box-shadow:inset 0px 0px 14px -3px #91b8b3;
	background-color:#768d87;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}
.myButton:hover {
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}

.red {
color:red;
}

/*About Us*/

.InnerContentHolder
{


	padding:5px 15px;
	font-family:Gabriola;
	font-size:20px;
	line-height:29px;
	color:#3e2a01;
	text-align:justify;

	background-color:#f4dcac;

}


.Innerheading
{
	font-family:Gabriola;
	font-size:35px;
	line-height:40px;
	color:#6a0f09;
}

.InnerContentHolder li

{

	list-style-image:url(img/flo.png);

	margin-left:40px;

}
/*Events*/

.InnerContentHolder1
{
	background-color:#f4dcac;

	clear:both;
	padding:1%;
}

.box2
{

	font-family:Gabriola;
	font-size:20px;
	line-height:29px;
	color:#3e2a01;
	text-align:justify;
	padding:2%;
	background-color:#fff6e5;
	margin:2%;
}

.EventHeading
{
	font-family:Gabriola;
	font-size:20px;
	line-height:40px;
	color:#6a0f09;
	font-weight:600;
}

/*Committee */

.CommitteeText
{

	padding:1%;
	font-family:Gabriola;
	font-size:20px;
	line-height:29px;
	color:#3e2a01;
	text-align:justify;
	padding:1%;
	background-color:#f4dcac;

}

/*contactus*/
.box4
{

	font-family:Gabriola;
	font-size:20px;
	line-height:29px;
	color:#3e2a01;
	text-align:justify;
	padding:1%;

	margin:1%;
}

.box3
{

	font-family:Gabriola;
	font-size:20px;
	line-height:29px;
	color:#3e2a01;
	text-align:justify;
	padding:2%;

	margin:2%;
}
