body, nav, ul, li, a  {margin: 0; padding: 0;}

a {text-decoration: none;}
.container {
    width: 100%;
    max-width: 800px;
    margin: 13px auto;



}
.toggleMenu {
    display:  none;
    background: #ac7f2e;
    padding: 10px 15px;
    color: #fff;
	background-image:url(img/navv.png);
	background-repeat:no-repeat;
	width:100%;
	height:20px;


}
.nav {
    list-style: none;
     *zoom: 1;
     color:#000;
	 margin-top: -4px;
	 font-family:calibri;
	 font-size:14px;
	border:1px solid #185454;
	 border-radius:5px;

	 background: #e99413; /* Old browsers */
background: -moz-linear-gradient(top, #e99413 0%, #fbc04d 50%, #e99413 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e99413), color-stop(50%,#fbc04d), color-stop(100%,#e99413)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e99413 0%,#fbc04d 50%,#e99413 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e99413 0%,#fbc04d 50%,#e99413 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e99413 0%,#fbc04d 50%,#e99413 100%); /* IE10+ */
background: linear-gradient(to bottom, #1f8a8c 0%,#88e1e3 50%,#1f8a8c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e99413', endColorstr='#e99413',GradientType=0 ); /* IE6-9 */


}
.nav:before,
.nav:after {
    content: " ";
    display: table;
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
	margin:0px;
}
.nav a {
    padding: 10px 20px;
    color:#000;

}
.nav a:hover
{

	color:#000;
	background-color:#1f8a8c;

}
.nav li {
    position: relative;
}
.nav > li {
    float: left;

}
.nav > li > .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
    background: #1d7a62;
    position: relative;
    z-index:100;
    border-top: 1px solid #175e4c;
}
.nav li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #1d7a62;
}

@media screen and (max-width: 700px) {


    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }

}

#p1{color:white; cursor:pointer; font-family:verdana; font-size:12px;}
