﻿body
{
}
.mGrid
{
	width: 100%;
	background-color: #fff;
	margin: 5px 0 10px 0;
	border: solid 1px #525252;
	border-collapse: collapse;
}
.mGrid td
{
	padding: 2px;
	border: solid 1px #c1c1c1;
	color: #717171;
}
.mGrid th
{
	padding: 4px 2px;
	color: #fff;
	background: #424242 url(img/grd_head.png) repeat-x top;
	border-left: solid 1px #525252;
	font-size: 0.9em;
}
.mGrid .alt
{
	background: #fcfcfc url(img/img/img/img/grd_alt.png) repeat-x top;
}
.mGrid .pgr
{
	background: #424242 url(img/grd_pgr.png) repeat-x top;
}
.mGrid .pgr table
{
	margin: 5px 0;
}
.mGrid .pgr td
{
	border-width: 0;
	padding: 0 6px;
	border-left: solid 1px #666;
	font-weight: bold;
	color: #fff;
	line-height: 12px;
}
.mGrid .pgr a
{
	color: #666;
	text-decoration: none;
}
.mGrid .pgr a:hover
{
	color: #000;
	text-decoration: none;
}

.drGrid
{
	width: 100%;
	background-color: #fff;
	margin: 5px 0 10px 0;
	border: solid 1px #525252;
	border-collapse: collapse;
}
.drGrid td
{
	padding: 2px;
	border: solid 1px #c1c1c1;
	color: #717171;
}
.drGrid th
{
	padding: 4px 2px;
	color: #fff;
	background: #424242 url(img/grd_head-1.png) repeat-x top;
	border-left: solid 1px #525252;
	font-size: 0.9em;
}
.drGrid .dralt
{
	background: #fcfcfc url(img/img/img/img/grd_alt.png) repeat-x top;
}
.drGrid .drpgr
{
	background: #424242 url(img/grd_pgr-1.png) repeat-x top;
}
.drGrid .drpgr table
{
	margin: 5px 0;
}
.drGrid .drpgr td
{
	border-width: 0;
	padding: 0 6px;
	border-left: solid 1px #666;
	font-weight: bold;
	color: #fff;
	line-height: 12px;
}
.drGrid .drpgr a
{
	color: #666;
	text-decoration: none;
}
.drGrid .drpgr a:hover
{
	color: #000;
	text-decoration: none;
}


.odGrid
{
	width: 100%;
	background-color: #fff;
	margin: 5px 0 10px 0;
	border: solid 1px #525252;
	border-collapse: collapse;
}
.odGrid td
{
	padding: 2px;
	border: solid 1px #c1c1c1;
	color: #717171;
}
.odGrid th
{
	padding: 4px 2px;
	color: #fff;
	background: #424242 url(img/grd_head-2.png) repeat-x top;
	border-left: solid 1px #525252;
	font-size: 0.9em;
}
.odGrid .odalt
{
	background: #fcfcfc url(img/img/img/img/grd_alt.png) repeat-x top;
}
.odGrid .odpgr
{
	background: #424242 url(grd_pgr-2.png) repeat-x top;
}
.odGrid .odpgr table
{
	margin: 5px 0;
}
.odGrid .odpgr td
{
	border-width: 0;
	padding: 0 6px;
	border-left: solid 1px #666;
	font-weight: bold;
	color: #fff;
	line-height: 12px;
}
.odGrid .odpgr a
{
	color: #666;
	text-decoration: none;
}
.odGrid .odpgr a:hover
{
	color: #000;
	text-decoration: none;
}


.exGrid
{
	width: 100%;
	background-color: #fff;
	margin: 5px 0 10px 0;
	border: solid 1px #525252;
	border-collapse: collapse;
}
.exGrid td
{
	padding: 2px;
	border: solid 1px #c1c1c1;
	color: #717171;
}
.exGrid th
{
	padding: 4px 2px;
	color: #fff;
	background: #424242 url(grd_head-3.png) repeat-x top;
	border-left: solid 1px #525252;
	font-size: 0.9em;
}
.exGrid .exalt
{
	background: #fcfcfc url(img/img/img/img/grd_alt.png) repeat-x top;
}
.exGrid .expgr
{
	background: #424242 url(grd_pgr-3) repeat-x top;
}
.exGrid .expgr table
{
	margin: 5px 0;
}
.exGrid .expgr td
{
	border-width: 0;
	padding: 0 6px;
	border-left: solid 1px #666;
	font-weight: bold;
	color: #fff;
	line-height: 12px;
}
.exGrid .expgr a
{
	color: #666;
	text-decoration: none;
}
.exGrid .expgr a:hover
{
	color: #000;
	text-decoration: none;
}
